In [1]:
import pandas as pd

In [3]:
parks = pd.read_csv("ParkLocations.csv")

In [4]:
parks

   Code                               Place_Name   Latitude   Longitude
0   ROMO            Rocky Mountain National Park  40.343182 -105.688103
1   KATM       Katmai National Park and Preserve  58.597813 -154.693756
2   GLBA  Glacier Bay National Park and Preserve  58.665806 -136.900208
3   CHIS           Channel Islands National Park  33.998028 -119.772949
4   DENA       Denali National Park and Preserve  63.129887 -151.197418
5   MORA             Mount Rainier National Park  46.879967 -121.726906
6   GRSM     Great Smoky Mountains National Park  35.611763  -83.489548
7   YOSE                  Yosemite National Park  37.865101 -119.538330
8   SHEN                Shenandoah National Park  38.700516  -78.292694
9   EVER                Everglades National Park  25.286615  -80.898651
10  YELL               Yellowstone National Park  44.423691 -110.588516
11  OLYM                   Olympic National Park  47.802109 -123.604355
12  GRTE               Grand Teton National Park  43.472554 -110.405435
13  ISRO               Isle Royale National Park  47.594511  -88.543344
14  VIIS            Virgin Islands National Park  18.351499  -64.768497
15  GLAC                   Glacier National Park  48.759613 -113.787022
16   NaN        Theodore Roosevelt National Park  47.239460 -103.624360

In [6]:
parks.to_json(path_or_buf = "parks_data.json", orient = "index")

In [7]:
animals = pd.read_csv("AnimalLocations.csv")
animals

,Code,Place_Name,Category,Sort,OrderName,FamilyName,Taxon,TSN,TaxonRecordStatus,ScientificName,CommonNames,Synonyms,Occurrence,Code,Latitude,Longitude
0,CHIS,Channel Islands National Park,Mammal,1,Carnivora,Canidae,93354,180610.0,Active,Urocyon littoralis,Channel Islands Gray Fox,"Urocyon littoralis littoralis, Urocyon littora...",Present,CHIS,33.998028,-119.772949
1,CHIS,Channel Islands National Park,Mammal,1,Carnivora,Mephitidae,154133,-501824.0,Inactive,Spilogale gracilis amphiala,Spotted Skunk,NaN,Present,CHIS,33.998028,-119.772949
2,CHIS,Channel Islands National Park,Mammal,1,Carnivora,Mustelidae,107235,202390.0,Active,Enhydra lutris nereis,Sea Otter,NaN,Present,CHIS,33.998028,-119.772949
3,CHIS,Channel Islands National Park,Mammal,1,Carnivora,Otariidae,93382,180636.0,Active,Arctocephalus townsendi,Guadalupe Fur Seal,NaN,Present,CHIS,33.998028,-119.772949
4,CHIS,Channel Islands National Park,Mammal,1,Carnivora,Otariidae,93372,180627.0,Active,Callorhinus ursinus,Northern Fur Seal,NaN,Present,CHIS,33.998028,-119.772949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4899,YOSE,Yosemite National Park,Bird,2,Strigiformes,Strigidae,80765,177878.0,Active,Otus flammeolus,Flammulated Owl,NaN,Present,YOSE,37.865101,-119.538330
4900,YOSE,Yosemite National Park,Bird,2,Strigiformes,Strigidae,82964,177929.0,Active,Strix nebulosa,great gray owl,Strix nebulosa nebulosa,Present,YOSE,37.865101,-119.538330
4901,YOSE,Yosemite National Park,Bird,2,Strigiformes,Strigidae,82960,177925.0,Active,Strix occidentalis,spotted owl,NaN,Present,YOSE,37.865101,-119.538330
4902,YOSE,Yosemite National Park,Bird,2,Strigiformes,Tytonidae,80736,177851.0,Active,Tyto alba,barn owl,NaN,Present,YOSE,37.865101,-119.538330
4903,YOSE,Yosemite National Park,Bird,2,Suliformes,Phalacrocoracidae,83419,174717.0,Active,Phalacrocorax auritus,Double-crested Cormorant,NaN,Present,YOSE,37.865101,-119.538330

In [8]:
animals.to_json(path_or_buf = "animals.json", orient = "index")